[submodule "src/submodules/ecss"]
	path = src/submodules/ecss
	url = https://github.com/wagnerks/ecss.git
[submodule "src/submodules/myPhysicsEngine"]
	path = src/submodules/myPhysicsEngine
	url = git@github.com:wagnerks/myPhysicsEngine.git
[submodule "src/submodules/JoltPhysics"]
	path = src/submodules/JoltPhysics
	url = https://github.com/wagnerks/JoltPhysics
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/wagnerks/imgui
